{% load locator_extras %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ballito ERS</title>
</head>
<body style="margin: 40px">
<h1>Welcome {{ user.name }}</h1>
<div class="row">
    <div id="all-patrollers" class="list-group col-2">
        <div>PATROLLERS</div>
        {% for patroller in patrollers %}
            {% if patroller.team_set.count == 0 %}
                <div id="patroller-{{ patroller.id }}" data-id="{{ patroller.id }}" class="list-group-item nested-1">
                    {{ patroller }}<br/>
                    {% if patroller.preferred_shifts %}
                        {% for sh in patroller.preferred_shifts.all %}
                            <span>{{ sh }} | </span>
                        {% endfor %}
                    {% endif %}
                    <br/>
                    {% if patroller.preferred_watchpoint %}
                        {% for w in patroller.preferred_watchpoint.all %}
                            <span>{{ w.abbreviation }} | </span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-10">
        {% for sh in shifts %}
            <div id="{{ sh.id }}" class="row">
                {% for point in watchpoints %}
                    <div id="sh_{{ sh.id }}_pt_{{ point.id }}" class="list-group col">
                        <div>{{ point }} : {{ sh }} </div>
                        {% with 'sh_'|addstr:sh.id|addstr:'_pt_'|addstr:point.id as team_key %}
                            {% if team_key in team_keys %}
                                {% for patroller in team_patrollers|hash:team_key %}
                                    <div id="patroller-{{ patroller.id }}" data-id="{{ patroller.id }}"
                                         class="list-group-item nested-1">
                                        {{ patroller }}<br/>
                                        {% if patroller.preferred_shifts %}
                                            {% for sh in patroller.preferred_shifts.all %}
                                                <span>{{ sh }} | </span>
                                            {% endfor %}
                                        {% endif %}
                                        <br/>
                                        {% if patroller.preferred_watchpoint %}
                                            {% for w in patroller.preferred_watchpoint.all %}
                                                <span>{{ w.abbreviation }} | </span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div><br/><br/>
        {% endfor %}
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
        integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $('#all-patrollers').sortable({
        group: 'list',
        animation: 200,
        ghostClass: 'ghost',
        onSort: reportActivity,
    });
    {% for sh in shifts %}
        {% for point in watchpoints %}
            $('#sh_{{ sh.id }}_pt_{{ point.id }}').sortable({
                group: 'list',
                animation: 200,
                ghostClass: 'ghost',
                onSort: reportActivity,
            });
        {% endfor %}
    {% endfor %}


    // Report when the sort order has changed
    function reportActivity(e) { //note this gets double-called
        console.log('drag drop end change');
        let patroller_id = e.item.id.split('-')[1];
        let source_id = e.from.id.split('_');
        let source_shift = source_id[1];
        let source_point = source_id[3];
        let destination_id = e.target.id.split('_');
        let dest_shift = destination_id[1];
        let dest_point = destination_id[3];

        console.log(`source: shift ${source_shift} point ${source_point}, destination: shift ${dest_shift} point ${dest_point}, patroller id: ${patroller_id}`)

        if ((source_shift==dest_shift)&&(source_point==dest_point)) {
            return;
        }

        var csrftoken = $.cookie('csrftoken');
        $.ajax({
            url: '/updatepatroller/',
            headers: {
                'X-CSRFToken': csrftoken
            },
            method: 'POST',
            data: JSON.stringify({
                'patroller_id':patroller_id,
                'source_shift':source_shift,
                'source_point':source_point,
                'dest_shift':dest_shift,
                'dest_point':dest_point
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function(){
            },
            error: function (obj, textStatus, errorThrown) {
                alert("status=" + textStatus + ",error=" + errorThrown);
            },
            success: function (data) {

            }
        });
    };
</script>
</body>
</html>