{% load locator_extras %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ballito ERS</title>
</head>
<body style="margin: 40px">
<h1>Welcome {{ user.name }}</h1>
<div class="row">
    <div id="all-patrollers" class="list-group col-2">
        <div>PATROLLERS</div>
        {% for patroller in patrollers %}
            {% if patroller.team_set.count == 0 %}
                <div id="patroller-{{ patroller.id }}" data-id="{{ patroller.id }}" class="list-group-item nested-1">
                    {{ patroller }}<br/>
                    {% if patroller.preferred_shifts %}
                        {% for sh in patroller.preferred_shifts.all %}
                            <span>{{ sh }} | </span>
                        {% endfor %}
                    {% endif %}
                    <br/>
                    {% if patroller.preferred_watchpoint %}
                        {% for w in patroller.preferred_watchpoint.all %}
                            <span>{{ w.abbreviation }} | </span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-10">
        {% for sh in shifts %}
            <div id="{{ sh.id }}" class="row">
                {% for point in watchpoints %}
                    <div id="sh_{{ sh.id }}_pt_{{ point.id }}" class="list-group col">
                        <div>{{ point }} : {{ sh }} </div>
                        {% with 'sh_'|addstr:sh.id|addstr:'_pt_'|addstr:point.id as team_key %}
                            {% if team_key in team_keys %}
                                {% for patroller in team_patrollers|hash:team_key %}
                                    <div id="patroller-{{ patroller.id }}" data-id="{{ patroller.id }}"
                                         class="list-group-item nested-1">
                                        {{ patroller }}<br/>
                                        {% if patroller.preferred_shifts %}
                                            {% for sh in patroller.preferred_shifts.all %}
                                                <span>{{ sh }} | </span>
                                            {% endfor %}
                                        {% endif %}
                                        <br/>
                                        {% if patroller.preferred_watchpoint %}
                                            {% for w in patroller.preferred_watchpoint.all %}
                                                <span>{{ w.abbreviation }} | </span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
        integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

<script>
    $('#all-patrollers').sortable({
        group: 'list',
        animation: 200,
        ghostClass: 'ghost',
        onSort: reportActivity,
    });
    {% for sh in shifts %}
        {% for point in watchpoints %}
            $('#sh_{{ sh.id }}_pt_{{ point.id }}').sortable({
                group: 'list',
                animation: 200,
                ghostClass: 'ghost',
                onSort: reportActivity,
            });
        {% endfor %}
    {% endfor %}

    // Arrays of "data-id"
    $('#get-order').click(function () {
        var sort1 = $('#items-1').sortable('toArray');
        console.log(sort1);
        var sort2 = $('#items-2').sortable('toArray');
        console.log(sort2);
    });

    // Report when the sort order has changed
    function reportActivity(e) {
        console.log('The sort order has changed');
    };
</script>
</body>
</html>